 body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin-top: 25vh;
     background-image: url(./16\ inch\ laptop.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
 }
.container{
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    box-shadow: 15px 15px 40px rgba(25, 25, 186, 0.738);
}
.container p{
    font-size: 12px;
}
.container h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.glh{
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 20px;
}
.glh- {
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 65px;
}
 input {
     width: 70%;
     padding: 8px;
     margin: 0px;
     background-color: transparent;
     border:2px solid white;
     color: white;
     border-radius: 20px;
 }
 input:hover{
    box-shadow: 0px 8px 15px rgba(25, 25, 186, 0.738);
 }

 button {
     padding: 8px 40px;
     font-size: 16px;
     border-radius: 20px;
     border: none;
 }
 button:hover{
    background-color: black;
    color: white;
    box-shadow: 0px 8px 15px rgba(25, 25, 186, 0.738);
 }

 p {
     font-size: 18px;
     margin-top: 20px;
 }

@media screen and (max-width:1024px) and (max-height:1400px) {
    body {
        background-image: url(./Ipad.jpg);
    }
}
 @media screen and (max-width:1024px) and (max-height:600px) {
    body{
        background-image: url(./14\ inch\ laptop.jpg);
    }
 }
  @media screen and (max-width:540px) {
      body {
          background-image: url(./Surface\ Duo.jpg);
      }
  }
  @media screen and (max-width:420px) {
      body {
          background-image: url(./Mobile.jpg);
      }
  }
